body{
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: black;
  color: white;
}
.holder{
  max-width: 960px;
  margin:0 auto;
}
.destacados{
  display: flex;
  justify-content: space-between;
}
.box{
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}
.contacto{
  display: flex;
  gap: 24px;
}
.contacto div{
  width: 100%;
}
.Formulario p{
  display: flex;
}
.Formulario p label{
  min-width: 80px;
  display: flex;
  align-items: center;
}
.Formulario p:nth-child(4){
  align-items: start;
}
.Formulario textarea{
  resize: none;
  height: 150px;
  width: 300px;
}
.Formulario input[type="text"]{
  width: 300px;
}
.Formulario input[type="mail"]{
  width: 300px;
}
.Formulario input[type="submit"]{
 margin-left: 80px;
}
.nosotros{
  margin-left: 20px;
  
}